@import "tailwindcss";

:root {
  --background: oklch(100% 0.00011 271.152);
  --foreground: oklch(20.463% 0.00002 271.152);
  --primary: oklch(62.31% 0.1881 259.83); /* blue-500 */
  --primary-foreground: oklch(100% 0 0);
  --muted: oklch(96% 0.001 270); /* slate-100 */
  --muted-foreground: oklch(40% 0.02 270); /* slate-600 */

  --tg-bg-color: var(--background);
  --tg-text-color: var(--foreground);
  --tg-button-color: var(--primary);
  --tg-button-text-color: var(--primary-foreground);

  --attention-bg: #fef9c3; /* bg-yellow-100 */
  --attention-text: #eab308; /* text-yellow-500 */
  --attention-border: #facc15;
}

@theme inline {
  --color-background: var(--tg-bg-color);
  --color-foreground: var(--tg-text-color);
  --color-primary: var(--tg-button-color);
  --color-primary-foreground: var(--tg-button-text-color);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-attention-bg: var(--attention-bg);
  --color-attention-text: var(--attention-text);
  --color-attention-border: var(--attention-border);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.dark {
  --background: oklch(14.479% 0.00002 271.152);
  --foreground: oklch(94.611% 0.00011 271.152);
  --primary: oklch(62.31% 0.1881 259.83); /* blue-500 */
  --primary-foreground: oklch(20.768% 0.03985 265.767);

  --muted: oklch(27.95% 0.03688 260.049); /* slate-800 */
  --muted-foreground: oklch(71.068% 0.0352 256.828); /* slate-400 */

  --attention-bg: #422006; /* bg-yellow-900 */
  --attention-text: #facc15; /* text-yellow-400 */
  --attention-border: #fcd34d;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
}
