@import "tailwindcss";

:root {
  --background: oklch(96% 0.004 270);
  --foreground: oklch(20% 0.02 270);
  --primary: oklch(62.31% 0.1881 259.83); /* blue-500 */
  --primary-foreground: oklch(100% 0 0);
  --muted: oklch(94% 0.001 270); /* slate-100 */
  --muted-foreground: oklch(40% 0.02 270); /* slate-600 */

  --tg-bg-color: var(--background);
  --tg-text-color: var(--foreground);
  --tg-button-color: var(--primary);
  --tg-button-text-color: var(--primary-foreground);

  --attention-bg: #fef9c3; /* bg-yellow-100 */
  --attention-text: #eab308; /* text-yellow-500 */
  --attention-border: #facc15;

  --card-bg: oklch(94% 0.00323 15.852);
  --card-border: oklch(90% 0.01 270);
}

@theme inline {
  --color-background: var(--tg-bg-color);
  --color-foreground: var(--tg-text-color);
  --color-primary: var(--tg-button-color);
  --color-primary-foreground: var(--tg-button-text-color);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-attention-bg: var(--attention-bg);
  --color-attention-text: var(--attention-text);
  --color-attention-border: var(--attention-border);

  --color-card: var(--card-bg);
  --color-card-border: var(--card-border);

  --font-sans: var(--font-roboto-sans);
  --font-mono: var(--font-roboto-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: hsla(215, 40%, 9%, 1);
    --foreground: oklch(90% 0.02 270);
    --primary: hsla(228, 73%, 47%, 1); /* blue-500 */
    --primary-foreground: oklch(100% 0 0);
    --muted: hsla(211, 36%, 15%, 1); /* slate-800 */
    --muted-foreground: oklch(80% 0.01 270); /* slate-300 */

    --tg-bg-color: var(--background);
    --tg-text-color: var(--foreground);
    --tg-button-color: var(--primary);
    --tg-button-text-color: var(--primary-foreground);

    --attention-bg: #78350f; /* bg-yellow-900 */
    --attention-text: #facc15; /* text-yellow-400 */
    --attention-border: #a16207;

    --card-bg: oklch(20% 0.02 270);
    --card-border: oklch(30% 0.02 270);
  }
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}
